In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
data = {
    'Hours':[0.5,1.5,2,2.5,3,3.5,4,4.5,5],
    'Pass':[0,0,0,0,0,1,1,1,1]
}

In [4]:
df = pd.DataFrame(data)
df

   Hours  Pass
0    0.5     0
1    1.5     0
2    2.0     0
3    2.5     0
4    3.0     0
5    3.5     1
6    4.0     1
7    4.5     1
8    5.0     1

In [5]:
X = df[['Hours']]
Y = df['Pass']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, )