In [1]:
import numpy as np

In [2]:
arr = np.linspace(5,24,20,dtype=int)
print(arr)

[ 5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [4]:
vector = np.ones(10,dtype= int)
vector[0]=0
vector[-1]=0

print(vector)

[0 1 1 1 1 1 1 1 1 0]

In [5]:

table_of_5=[]
i = 5
while i<=50:
    table_of_5.append(i)
    i+=5
    print(table_of_5)

[5]
[5, 10]
[5, 10, 15]
[5, 10, 15, 20]
[5, 10, 15, 20, 25]
[5, 10, 15, 20, 25, 30]
[5, 10, 15, 20, 25, 30, 35]
[5, 10, 15, 20, 25, 30, 35, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [6]:
array = np.arange(210,346)
array[array%10 == 0]=100

print(array)

[100 211 212 213 214 215 216 217 218 219 100 221 222 223 224 225 226 227
 228 229 100 231 232 233 234 235 236 237 238 239 100 241 242 243 244 245
 246 247 248 249 100 251 252 253 254 255 256 257 258 259 100 261 262 263
 264 265 266 267 268 269 100 271 272 273 274 275 276 277 278 279 100 281
 282 283 284 285 286 287 288 289 100 291 292 293 294 295 296 297 298 299
 100 301 302 303 304 305 306 307 308 309 100 311 312 313 314 315 316 317
 318 319 100 321 322 323 324 325 326 327 328 329 100 331 332 333 334 335
 336 337 338 339 100 341 342 343 344 345]

In [7]:
arr = np.arange(700,1000)

divisible_by_5 = arr[arr % 5 == 0]
divisible_by_7 = arr[arr % 7 == 0]

result = np.union1d(divisible_by_5,divisible_by_7)

print(result)
print("Total element:",len(result))

[700 705 707 710 714 715 720 721 725 728 730 735 740 742 745 749 750 755
 756 760 763 765 770 775 777 780 784 785 790 791 795 798 800 805 810 812
 815 819 820 825 826 830 833 835 840 845 847 850 854 855 860 861 865 868
 870 875 880 882 885 889 890 895 896 900 903 905 910 915 917 920 924 925
 930 931 935 938 940 945 950 952 955 959 960 965 966 970 973 975 980 985
 987 990 994 995]
Total element: 94

In [8]:
A = np.linspace(12, 25, 10)

B = np.linspace(20, 45, 10)

mean_A = np.mean(A)

output = mean_A * B

print("Array A:", A)
print("Array B:", B)
print("Mean of A:", mean_A)
print("Output:", output)

Array A: [12.         13.44444444 14.88888889 16.33333333 17.77777778 19.22222222
 20.66666667 22.11111111 23.55555556 25.        ]
Array B: [20.         22.77777778 25.55555556 28.33333333 31.11111111 33.88888889
 36.66666667 39.44444444 42.22222222 45.        ]
Mean of A: 18.5
Output: [370.         421.38888889 472.77777778 524.16666667 575.55555556
 626.94444444 678.33333333 729.72222222 781.11111111 832.5       ]

In [9]:
array = np.array([1, 2, 3, 1, 3, 9, 3, 5])   

max_value = np.max(array) 

array [array == max_value] = 15                  #

print("Modified array:", array)

Modified array: [ 1  2  3  1  3 15  3  5]

In [10]:
natu_num = np.arange(1, 11)

sq_rt = np.sqrt(natu_num)

print(sq_rt)

[1.         1.41421356 1.73205081 2.         2.23606798 2.44948974
 2.64575131 2.82842712 3.         3.16227766]